# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Mac
.DS_Store

# Env files
.env
.env.*

# Uploads / runtime files
MyFiles/
Backend/MyFiles/

# Packages / installers
*.pkg